/* ===================================================
                        Globals
   ===================================================
*/
*, *:before, *:after {
    box-sizing: inherit;
}

:root{
    --primary: #FFFFFF;
    --secondary: #000000;
    --green: #2DA212;
    --text: #706F68;
    --background: #6A87B6;
    --primary-font: 'Merriweather', serif;
    --secondary-font: 'PT Sans', sans-serif;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body{
    font-family: var(--secondary-font);
    font-size: 1.6rem;
    color:var(--text);
}

header{
    height: 100%;
    position: relative;
}

footer {
    position: relative;
    z-index: 1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    text-align: center;
    background-color: var(--background);
    margin-top: 1rem;
}

footer p{
    margin: 0;
}

h1,h2,h3{
    margin: 0;
    font-family:var(--primary-font);
}

h1{
    font-size: 5rem;
    color: var(--secondary);
    text-transform: uppercase;
    font-weight: 700;
}

h2{
    font-size: 3rem;
    color: var(--primary);
    font-weight: 700;
}

h3{
    font-size: 2.5rem;
    color: var(--secondary);
}

table{
    width: 100%;
    margin-top: 1rem;
}

th, td{
    text-align: center;
}

th{
    color: var(--primary);
    font-size: 2.5rem;
}

td{
    padding: 1rem;
}

tr{
    border-bottom: solid 0.2rem var(--primary);
}

thead tr{
    border: 0;
}

a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: none;
    color: inherit;
}
/* ***************************************************
                    Index (Login)
   *************************************************** */
/* ===============================================
        Section #1 (Header) -  Cover Page
    ===============================================
*/
form.login-form{
    background-color: var(--background);
}

form .login-form-group{
    display: flex;
    align-items: center;
    flex-direction: column;
}

form .login-form-group input{
    background-color: transparent;
    border: 0;
    border-bottom: 0.3rem solid var(--secondary);

}

form .login-form-group input::placeholder{
    color: var(--secondary);
    font-weight: bold;
}

footer.login{
    width: 100%;
    height: 30rem;
    align-items: flex-end;
    background-color: var(--primary); /* fallback color if gradients are not supported */
    background-image: -webkit-linear-gradient(top, white, var(--primary)); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image:    -moz-linear-gradient(top, white, var(--primary)); /* For Firefox (3.6 to 15) */
    background-image:      -o-linear-gradient(top, white, var(--primary)); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to bottom, white, var(--primary)); /* Standard syntax; must be last */
}


/* ***************************************************
                        Components
   *************************************************** */
/*//------------Button See-----------//*/
.see-btn{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    border: 0;
    padding: 0.5rem 2.5rem;
    background-color: var(--green);
    border-radius: 0.3rem;
}

.see-btn:hover{
    background-color: rgb(123, 207, 13);
    color: white;
    transition: ease 0.3s;
}

/*//------------Main Navbar-----------//*/
#main-nav{
    background-color: var(--primary);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding: 0.5rem 3rem;
}

#main-nav a{
    color: white;
}


/*//------------Sidebar Nav-----------//*/
.selection-panel{
    background-color: var(--background);
    color: var(--secondary);
    height: 100%;
    position: fixed;
    z-index: 0;
    width: 25rem;
    text-align: center;
    margin-top: 5rem;
}

#side-nav{
    display: flex;
    flex-direction: column;
}

#side-nav a{
    color: var(--secondary);
    font-size: 2rem;
    display: block;
    margin-top: 4rem;
}

#side-nav a.active{
    color: white;
    background-color: var(--secondary);
    padding: 2rem;
    font-weight: bold;
}

#side-nav a:hover{
    color: white;
}

/* ***************************************************
                        Utilities
   *************************************************** */
.cursive{
    font-style: italic;
}

.light{
    font-weight: 300;
}

.bold{
    font-weight: 700;
}

table.half th,td{
    width: 50%;
}

table.third th,td{
    width: 33%;
}

table.quarter th,td{
    width: 25%;
}

table.fifth th,td{
    width: 20%;
}

i.add{
    color: var(--green);
    text-align: right;
    display: block;
    padding-right: 10rem;
}

i.add:hover{
    color: rgb(123, 207, 13);
    transition: ease-in 0.3s;
}

small.subtitle{
    font-family: var(--primary-font);
    font-size: 2rem;
    display: block;
    font-weight: 300;
}

.page-content{
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;
    padding: 5rem 0 0 27rem;
    min-height: 100vh;
    overflow: hidden;
}
.logo_img{
  width: 22%;
}